@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&family=Rock+Salt&display=swap');

:root {
    --color-white: #fff;
    --color-white-variant: #E5E5E5;
    --primary-color: #14213D;
    --accent-color: #FCA311;
    --color-black: #000;
    --border-radius: 25px;
    --border-black: 3px solid #000;
    --border-yellow: 2px solid #FCA311;
    --roboto-font: 'Roboto Slab', serif;
    --rocksalt-font: 'Rock Salt', cursive;
}

* {
    font-family: var(--roboto-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1rem;
}

a:hover {
    color: var(--accent-color);
}

/********* NAVIGATION BAR *********/

header {
    position: relative;
    padding: 0 2rem;
    height: 100vh;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    width: 95px;
    height: auto;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
}

.navbar .toggle_btn {
    color: var(--color-black);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    color: var(--accent-color);
}

.action_btn {
    background-color: var(--accent-color);
    color: var(--color-black);
    padding: 1rem;
    border-radius: var(--border-radius);
    font-weight: 700;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.action_btn:hover {
    background-color: transparent;
    border: var(--border-yellow);
    color: var(--color-black);
}

/********* DROPDOWN MENU *********/

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    height: 0;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 95%;
    display: flex;
    justify-content: center;
}

/********* HERO SECTION *********/
#hero .container {
    margin-top: 5rem;
}

#hero .container .leftDiv {
    height: 400px;
    width: 48%;
    float: left;
}

#hero .container .rightDiv {
    height: 400px;
    width: 48%;
    float: right;
}

.hero_btn {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.hero_btn .download_cv {
    border: var(--border-black);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    width: 45%;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.hero_btn:hover .download_cv {
    background-color: #000;
    color: #FCA311;
}

/********* RESPONSIVENESS DESIGN *********/

@media (max-width: 992px) {
    /********* TABLET *********/
    .navbar .links, .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media (max-width: 576px) { 
    /********* PHONE *********/
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}